In [2]:
import pickle
import pandas as pd
from gensim.models import Word2Vec

In [3]:
temporal_walks_file = '../datasets/collegemsg/temporal_walks.pkl'

with open(temporal_walks_file, 'rb') as file:
    temporal_walks = pickle.load(file)

In [4]:
len(temporal_walks)

96556

In [6]:
#word2vec model training

embed_dim = 128
window = 10
min_count = 1
workers = 4

w2v = Word2Vec(sentences = temporal_walks, 
              vector_size = embed_dim, 
              window = window, 
              min_count = min_count, 
              workers = workers)

In [7]:
k2i = pd.DataFrame({'node': w2v.wv.key_to_index.keys(), 'vindex': w2v.wv.key_to_index.values()})

In [8]:
k2i

      node  vindex
0      454       0
1     1624       1
2     1168       2
3      323       3
4     1043       4
...    ...     ...
1326    86    1326
1327   806    1327
1328   490    1328
1329   476    1329
1330   682    1330

[1331 rows x 2 columns]